
@{
    ViewBag.Title = "About";
}

<hr style="width: 10px" />

<div class="container">
    <div class="card" style="background: #12477360">
        <h2 class="text-center display-2" style="color: #124773; font-family:'Century Gothic'"><strong>Feature not yet implemented!</strong></h2>
    </div>
</div>

