
@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="col-sm mb-4">
        <div class="row">
            <div class="col-sm">
                @Html.TextBox(name: "Search", value: "", htmlAttributes: new { @class = "form-control", placeholder = "Search apartment..." })
            </div>
            <div class="col-sm">
                @Html.DropDownList(optionLabel: "Any city", selectList: ddlCitySource, name: "CityId", htmlAttributes: new { @class = "form-control", id = "cityDropDownList" })
            </div>
            <div class="col-sm">
                @Html.DropDownList(optionLabel: null, selectList: ddlStatusSource, name: "StatusId", htmlAttributes: new { @class = "form-control", id = "statusDropDownList" })
            </div>
            <div class="col-sm">
                @Html.DropDownList(optionLabel: null, selectList: ddlFiltersSource, name: "FilterCode", htmlAttributes: new { @class = "form-control", id = "filterDropDownList" })
            </div>
            <div class="col-md-auto">
                <button type="button" class="btn btn-danger" id="findButton">
                    <img src="~/Content/images/search.png" style="position: relative; top: -2px; left:3px" class="icon" />
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm apartments_container">
    </div>
</div>
