
@model DataLayer.Models.User
@{
    ViewBag.Title = "UserView";
}

<div class="container">
    <div class="h2 text-center">
        Welcome <b>@Model.FullName</b>
                <p>As a <i>@Model.Roles[0]</i> you can <a href="~/Home/Index" class="a-custom">rent</a> apartments!</p>
    </div>
</div>

