@model DataLayer.Models.ApartmentStatus
@{
    string cssCustomAvailability = "availabilty_container_available";
    string statusText = "Available";

    if (Model.Id != 3)
    {
        cssCustomAvailability = "availability_container_unavailable";
        statusText = "Unavailable";
    }

    ViewBag.css = cssCustomAvailability;
    ViewBag.statusText = statusText;
}

<div class="container rounded p-3 @ViewBag.css" style="width: fit-content">
    @ViewBag.statusText
</div>
