@model string

@*<div class="rounded-3" style="width:fit-content; height:fit-content; display:flex; align-items:center; justify-content:center">
    <div class="p-2">
        <span style="font-weight:bold">@Model</span>
    </div>
</div>*@

<div class="container rounded p-3 price-custom" style="overflow-wrap:normal; width: fit-content">
    Price @Model
</div>