@using Public.Models.ViewModels
@model StarsVM
@{
    int fullStarCount = Model.Stars;
    int emptyStarCount = 5 - fullStarCount;
}

<div class="col text-center">
    @for (int i = 1; i <= fullStarCount; i++)
    {
        <i class="fa-solid fa-star"></i>
    }

    @for (int i = 1; i <= emptyStarCount; i++)
    {
        <i class="fa-regular fa-star"></i>
    }

    @if (Model.ShowTotalReviews)
    {
        <br />
        <strong>@Model.TotalReviews/5</strong>
    }
</div>
