@model string

<div class="rounded-1 tag-css" style="width:fit-content; height:fit-content; display:flex; align-items:center; justify-content:center">
    <div class="p-1" style=" white-space: nowrap;">
        <div>@Model</div>
    </div>
</div>
