
@{
    ViewBag.Title = "Error";
}

<div class="container-fluid">
    <div class="container" style="display:flex; justify-content:center; align-content:center;">
        <img src="~/Content/images/Error.png" class="card-img" style="width:500px; height:600px" />
    </div>
    <div class="container-fluid" style="display:flex; justify-content:center; align-content:center;">
        @Html.ActionLink("Return to home page", "Index", "Home", null, new { @class = "btn btn-custom btn-lg" })
    </div>
    <br style="width: 2000px;"/>
</div>

