@{
    Layout = null;
    string err = ViewBag.err as string;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error page</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <hr style="width: 10px" />

    <div class="container">
        <div class="card" style="background: #12477360">
            <h2 class="text-center display-2" style="color: #124773"><strong>Error occured!</strong></h2>

            <div class="alert">
                <p>@err</p>
            </div>

            <hr style="width: 10px" />

            <div class="container">
                @Html.ActionLink("Back to home page", "Index", "Home")
            </div>
        </div>
    </div>

</body>
</html>
