.navbar-inverse {
    font-family: 'Century Gothic';
    background: #124773;
    border-color: #124773;
    color: white;
}

.a-custom {
    color: white;
}

/*.navbar-brand .navbar-nav > li > a:hover, .navbar-brand .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}*/

table, th, td {
    font-family: 'Century Gothic';
    border: none;
}

.font-goth {
    font-family: 'Century Gothic';
}

.table th, td {
    text-align: center;
    vertical-align: middle;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #12477320;
}

.btn-custom {
    font-family: 'Century Gothic';
    background: #124773;
    color: white;
}

    .btn-custom:hover {
        color: #a7d0f1;
    }

.footer-custom {
    font-family: 'Century Gothic';
    color: #124773;
}

.label-custom {
    font-family: 'Century Gothic';
    color: #124773;
    font-weight: bold;
}

.glyphicon-custom {
    border-color: white;
    border-radius: 0px;
    box-shadow: 0px 0px;
    color: #124773;
    /*    font-size: 400%;*/
}
