.footer-custom {
    font-family: 'Century Gothic';
    color: #124773;
}

.white-text {
    color: #ffffff;
    transition: all ease-in;
}

.white-link:hover {
    color: #124773;
}

.navbar-custom {
    background: #124773;
    font-family:'Century Gothic';
    color: white;
}

.btn-custom {
    font-family: 'Century Gothic';
    background: #124773;
    color: white;
}

    .btn-custom:hover {
        color: #a7d0f1;
    }

.font-goth {
    font-family: 'Century Gothic';
}

a {
    text-decoration: none;
}

#popup_login {
    padding: 0;
    border-radius: .6em;
    background-color: white;
    overflow: hidden;
    width: 500px;
    position: absolute;
    left: 15vw;
    right: 15vw;
    top: 10em;
    z-index: 1000;
    box-shadow: 10px 10px 37px -7px rgba(168,168,168,1);
}

form {
    margin: 0px !important;
    padding: 0px !important;
    display: inline !important;
}

.custom_page {
    min-height: 85vh;
}

.custom_image {
    width: 100%;
    height: 100%
}

.icon {
    width: 1.3em;
    height: 1.3em;
    margin-right: .5em;
}

.star {
    transition: all .2s ease-in;
}

    .star:hover {
        transform: scale(1.5);
    }

.user_icon {
    width: 3em;
    height: 3em
}

.darkblue {
    background-color: rgb(4, 28, 50);
}

.mediumblue {
    background-color: rgb(4, 41, 58);
}

.lighterblue {
    background-color: rgb(6, 70, 99);
}

.cream {
    background-color: rgb(236, 179, 101);
}

.white_text {
    color: #ffffff;
}

.light_gray_text {
    color: rgb(247, 247, 247);
}

.white_link {
    color: #ffffff;
    transition: all ease-in;
}

    .white_link:hover {
        color: rgb(236, 179, 101);
    }

.availabilty_container_available {
    color: #ffffff;
    background-color: green;
}

.availability_container_unavailable {
    color: #ffffff;
    background-color: rgb(220,53,69);
}

.price_container {
    color: white;
    background-color: #FF5A5F;
    font-weight: bold;
}

.tag_container {
    background-color: rgb(196, 196, 196);
    color: white;
}

.tag_container_light {
    background-color: rgb(243, 243, 243);
    color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
